/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, padding,
dl, dt, dd, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*start of web style*/

body {
	background-color: #aaaaaa;
}

#logo {
	position: fixed;
	top: 0px;
	margin: -50px;
	float: left;
	width: 180px;
	height: 180px;
	z-index: 2;
}
/*link for nav-bar*/

nav {
	margin: auto;
	top: 0px;
	position: fixed;
	width: 100%;
	height: 75px;
	font-size: 16px;
	font-family: 'McLaren', cursive;
	font-weight: bold;
	text-align: right;
	background-color: #3c3c3c; /*fallback color for old browser*/
	background-color: rgba(60,60,60,0.8);
	z-index: 2;
}

	nav ul {
		text-align: left;
		display: inline;
		margin: 0px;
		padding: 15px, 4px, 17px, 0px;
		list-style: none;
	}

	nav ul li {
		display: inline-block;
		margin-right: 20px;
		margin-top: 30px;
		position: relative;
		padding: 20px, 20px;
		text-transform: uppercase;
		text-decoration: none;
		background-color: rgba(60,60,60,0);
		cursor: pointer;
		-webkit-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		color: blue;
		font-family: 'McLaren', cursive;
	}

	nav ul li: hover {
		background: #4dd0e1;
		color: lightblue;
	}

	nav a {
		color: #fff;
		padding: 10px;
		text-decoration: none;

	}

	nav a:hover {
		color: #f15a24;
		background-color: rgba(60,60,60,0);
}
/*Locations dropdown*/
nav ul li ul{
	background-color: rgba(60,60,60,0.2);
	padding: 0;
	position: absolute;
	top: 25px;
	left: 0px;
	width: 150px;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: opacity 0.2s;
	margin: auto;

}

nav ul li ul li {
	background: rgba(60,60,60,0);
	display: block;
	color: #fff;
	font-family: 'McLaren', cursive;
}

nav ul li ul li:hover {
	background-color: rgba(60,60,60,0);
}

nav ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}
/*landing page banner*/
#banner {
	background-color: #000;
	background-image: url('../img/Tamriel.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 750px;
	text-indent: -9999px;
	border: 0;
	margin: 0px auto 10px auto;
}

	#bannerleft {
		font-size: 2em;
		color: #fff;
		top: 200px;
		width: 100%;
		text-decoration: none;
		text-align: center;
		float: left;
		text-transform: uppercase;
		position: absolute;
		left: -450px;
		font-family: 'Fugaz One', cursive;

	}
	a #bannerright {
		background-color: #f15a24;
		color: #fff;
		padding: 25px 30px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		float: right;
		position: absolute;
		top: 400px;
		right: 150px;
		font-family: 'Fugaz One', cursive;

	}
	a #bannerright:hover {
		background-color: red;
	}
/*first article*/
#About {
	background-color: #fff;
}

#container {
	padding: 10vw;
}

div #image1 {
	background-image: url('../img/nobandit.png');
	background-position: center;
	background-size: cover;
	padding: 15%;
	display: inline;
	position: relative;
	left: 5%;
	z-index: 0;
	width: 50px;
	height: 50px;
	top: -8px;
}
div #image2 {
	background-image: url('../img/settlement.png');
	background-position: center;
	background-size: cover;
	padding: 15%;
	display: inline;
	position: relative;
	left: 10%;
	z-index: 0;
	width: 50px;
	height: 50px;
}
div #image3 {
	background-image: url('../img/locations.png');
	background-position: center;
	background-size: cover;
	padding: 15%;
	display: inline;
	position: relative;
	left: 15%;
	z-index: 0;
	width: 50px;
	height: 50px;
}
	#securehead {
		margin: auto;
		text-transform: uppercase;
		text-align: center;
		font-family: 'Fugaz One', cursive;
	}
		.secure {
			padding: 10px;
			max-width: 50%;
			text-align: center;
			margin: auto;
			font-family: 'Open Sans', sans-serif;
			}
/* second article */    
.hammerhead {
		font-family: 'Fugaz One', cursive;
		text-align: center;
		text-transform: uppercase;
}
#package1 {
	background-color: #3c3c3c;
	background-image: url('../img/morrowind.jpg');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 700px;
	text-indent: -9999px;
	border: 0;
	margin: 0px auto 10px auto;
}
	#morrowind {
		width: 900px;
		margin: 0 auto;
		background-color: #aaaaaa;
		font-family: 'Open Sans', sans-serif;
	}
	/* third article*/
#package2 {
	background-image: url('../img/skyrim.jpg');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 700px;
	margin: 0px auto 10px auto;
}
	#skyrim {
		width: 900px;
		margin: 0 auto;
		background-color: #aaaaaa;
		font-family: 'Open Sans', sans-serif;
	}
	/* fourth article */
#package3 {
	background-image: url('../img/Hammerfell.jpg');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 700px;
	margin: 0px auto 10px auto;
}
	#hammerfell {
		width: 900px;
		margin: 0 auto;
		background-color: #aaaaaa;
		font-family: 'Open Sans', sans-serif;
	}
#test {
	font-size: 2em;
	display: block;
	background-color: #fff;
	color: #f15a24;
	text-transform: uppercase;
	font-family: 'Tillana', cursive;
	text-align: center;
}
#container2 {
	padding: 6vw;
	background-color: #fff;
}
	div #user1 {
		background-image: url('../img/user.png');
		background-position: center;
		background-size: cover;
		padding: 10%;
		display: inline;
		position: relative;
		left: 0%;
		z-index: 0;
		width: 50px;
		height: 50px;
		top: 40px;
	}
	div #user2{
		background-image: url('../img/user.png');
		background-position: center;
		background-size: cover;
		padding: 10%;
		display: inline;
		position: relative;
		left: 50%;
		z-index: 0;
		width: 50px;
		height: 50px;
		top: 140px;
	}
#adventure {
	float: left;
	text-transform: uppercase;
	background-color: #fff;
	color: #f15a24
}
	#nord {
		text-align: center;
		padding: 0 35%;
		left: -30%;
		float: left;
		padding-bottom: -50%;
		position: relative;
		font-family: 'Open Sans', sans-serif;
		display: inline-block;
		margin-right: 20px;
	}
	#khajiit {
		text-align: center;
		padding: 0 35%;
		right: -25%;
		float: left;
		margin-left: 5%;
		padding-bottom: -50%;
		float: right;
		position: relative;
		font-family: 'Open Sans', sans-serif;
		
	}
/* footers */
footer {
	background-color: rgba(60,60,60,0.8);
	padding-bottom: 5px;
}

footer small {
		text-transform: uppercase;
		padding-bottom: 2px;
		color: #f15a24;
		line-height: 2em;
		font-family: 'McLaren', cursive;
	}
